# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

# credit: https://unix.stackexchange.com/a/539187
while read item; do 
  echo "$item";
  # export "$item";
done < <(sed -nr 's/([A-Za-z0-9_]+): (.*)/\1=\2/ p' envs/dev.yaml)
eval "$(devbox generate direnv --print-envrc)"
# eval "$(devbox generate direnv --print-envrc --env-file .envs/$(gum choose `ls .envs`))"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details
